.ul-custom{
    z-index: 1;
    position: absolute;
}
.list-item-custom{
    border-radius: 0 !important;
}
.list-item-custom, .inner-content h6, p{
    margin: 0;
    padding: 0;
}
.list-item-custom div img{
    width: 4em;
    height: 4em;
}

.list-item-custom a{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
}
.inner-content{
    text-align: left;
    padding-left: 1em;
}

.inner-content p{
    color: grey;
    font-size: small;
}
